body {
  /* background-color: #e56d27;  now trying to get a jumbotrone*/
  background-image: url("../docs/Family_Tree_Logo_White.jpg");
}

.lineOne {
  background-color: #5927e5;
  color: #fefffe;
}

.lineThree {
  background-color: #27e556;
  color: #b64ba4;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;

}

title {
  font-display: #5927e5;
}

nav>ul>li {
  border: solid 1px;
  padding: .33em;
  display: inline-block;
  font-display: #5927e5;
}

footer {
  padding: .5em;
  background-color: #ADA8B6;
}

h1 {

  font-color: blue;
}

.blue-list {
  font-color: rgb(31, 6, 6);
  font-bold;
  background-color: rgb(255, 0, 149);
}

.index-titletab {
  font-size: 20;
  background-color: #66c4a9;
}

@media (max-width: 667px) {}
